<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     <mapper namespace="com.IsoftStone.register.dao.bo.RegisterAccountInf">
     
       <!--在主配置文件中配置了类型别名，因此这里可以用
           Account代替com.IsoftStone.register.dao.Account。
           useGeneratedKeys="true"表明使用数据库生成的主键，
              这里使用数据库的自增主键，keyProperty指定主键列-->
       <insert id="add" parameterType="AccountDTO"
	    useGeneratedKeys="true" keyProperty="id">
	      insert into account(id,name,email,password,activated)
		  values(#{id},#{name},#{email},#{password},#{activated})
	   </insert>
   </mapper>