<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  
  <settings>		
    <setting name="defaultExecutorType" value="REUSE" />
  </settings>
 
  <typeAliases>
  	<typeAlias alias="AccountDTO" type="com.IsoftStone.register.dao.dto.AccountDTO"/>
  </typeAliases>
 
  <!-- 采用相对类路径
  <mappers>
  	<mapper resource="mybatis/AccountMapper.xml"/>
  </mappers>
-->
</configuration>